/* === Tùy chỉnh mũi tên === */
.slick-prev:before,
.slick-next:before {
  color: #007bff; 
  font-size: 28px;
  opacity: 0.9;
}

.slick-prev {
  left: -35px;
}

.slick-next {
  right: -35px;
}


.slick-dots li button:before {
  font-size: 10px;
  color: #ccc;
  opacity: 1;
}

.slick-dots li.slick-active button:before {
  color: #007bff;
}


.card-equal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 235px;
}


.slick-track {
  display: flex !important;
  align-items: stretch !important;
}
