RewriteEngine On
RewriteBase /datn/

# Nếu request trỏ vào /api/... thì rewrite vào be/public/index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^api/(.*)$ be/public/index.php [QSA,L]
